
   
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="img/ea.png" alt="Sandhika Galih" class="img-thumbnail rounded-circle" width="200"/>
                <h1 class="display-4">Sandhika Galih</h1>.
                <p class="lead">Lecuturer and content creator</p>
            </div>
        </div>
    </div>



   